body {

}
.flex-container {
  display: -webkit-flex;
  display: flex; /* or inline-flex */
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
.selectionContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}
header {
  background: black;
  color:white;
  padding: 0;
}
#headerbar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
#logo {
  display: inline-block;
  margin: 0 5px;
}
#headertitle_text {
  padding: 10% 0px;
  font-size: 24px;
}
#developing_div {
  order: 1;
  align-content: center;
  width: 200px;
  height: 200px;
}
#developing_link {
  display: block;
  z-index: 1;
}
#blog_div {
  order: 2;
  align-content: center;
  width: 200px;
  height: 200px;
}
#blog_link {
  display: block;
  z-index: 1;
}
#uploads_div {
  order: 3;
  align-content: center;
  width: 200px;
  height: 200px;
}
#uploads_link {
  display: block;
  z-index: 1;
}
#dev_logo, #blog_logo, #uploads_logo {
  z-index: -1;
  pointer-events: none;
  width: 100px;
  height: 100px;
}
footer {
  order: 4;
  background: #aaa;
  color:white;
}
@media only screen and (max-width: 423px) {
  #logo {
    float: none;
  }
  #headerbar {
    float: none;
  }
  #headertitle_text {
    padding: 0 0px;
  }
}
